<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!--<security-constraint>-->
    <!--<web-resource-collection>-->
      <!--<web-resource-name>sample</web-resource-name>-->
      <!--<url-pattern>/*</url-pattern>-->
      <!--<http-method>POST</http-method>-->
      <!--<http-method>GET</http-method>-->
    <!--</web-resource-collection>-->
    <!--&lt;!&ndash;    <auth-constraint>-->
          <!--<role-name>*</role-name>-->
        <!--</auth-constraint>-->
     <!--&ndash;&gt;-->
  <!--</security-constraint>-->

  <!--<login-config>-->
    <!--<auth-method>SPNEGO</auth-method>-->
  <!--</login-config>-->

  <!--<security-role>-->
    <!--<role-name>login</role-name>-->
  <!--</security-role>-->

</web-app>
