<!-- LOGBACK configuration -->

<!-- SQL and bind values -->
<logger name="org.avaje.ebean.SQL" level="TRACE"/>

        <!-- Transaction Commit and Rollback events -->
<logger name="org.avaje.ebean.TXN" level="TRACE"/>

        <!-- Summary level details -->
<logger name="org.avaje.ebean.SUM" level="TRACE"/>

        <!-- L2 logging -->
<logger name="org.avaje.ebean.cache.QUERY" level="TRACE"/>
<logger name="org.avaje.ebean.cache.BEAN" level="TRACE"/>
<logger name="org.avaje.ebean.cache.COLL" level="TRACE"/>
<logger name="org.avaje.ebean.cache.NATKEY" level="TRACE"/>